<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet">
    </head>
    <body>
        <img style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Stori_logo.svg/512px-Stori_logo.svg.png"/>
        <h2 style="text-align: center; font-weight: bold">
            Transactions Summary
        </h2>
        <table style="width: 100%; padding: 0px 100px 0px 100px;">
            <tbody style="font-size: 14px;">
                <tr>
                    <td style="
                        text-align: left;
                        vertical-align: middle;
                        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
                        border-bottom: 1px solid #C1C3D1;
                        padding: 15px 20px 15px 20px;
                        width: 50%;">
                    Average debit amount: {{transactions_resume['average_debit']}}</td>
                    <td style="
                        text-align: left;
                        vertical-align: middle;
                        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
                        border-bottom: 1px solid #C1C3D1;
                        padding: 15px 20px 15px 20px;
                        width: 50%;">
                    Average credit amount: {{transactions_resume['average_credit']}} </td>
                </tr>
                <tr>
                    <td style="
                        text-align: left;
                        vertical-align: middle;
                        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
                        border-bottom: 1px solid #C1C3D1;
                        padding: 15px 20px 15px 20px;
                        width: 50%;">
                    Total balance is: {{transactions_resume['total_balance']}}
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
        <h2 style="text-align: center; font-weight: bold; margin-top: 50px;">
            Transactions by Month
        </h2>

        <table style="width: 100%; padding: 0px 100px 0px 100px;">
            <tbody style="font-size: 14px;">

                {% for month, amount in transactions_by_month.items() %}
                    <tr>
                        <td style="
                            text-align: left;
                            vertical-align: middle;
                            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
                            border-bottom: 1px solid #C1C3D1;
                            padding: 15px 20px 15px 20px;
                            width: 50%;">
                        Number of transactions in {{month}}: {{amount}} </td>
                     </tr>
                {% endfor %}

            </tbody>
        </table>

    </body>
</html>
